* {
  padding: 0;
  margin: 0;
}

:root {
  --font-main: 'Press Start 2P', cursive;
  --font-second: 'VT323', monospace;
  --color-main: #fff;
  --color-second: #000;
  --color-light: #fcd976;
  --color-dark: #171426;
}

body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--color-dark);
}

header h1 {
  font-family: var(--font-main);
  font-size: 100px;
  margin: 0 0 30px;
  color: var(--color-light);
}

header h1 img {
  width: 15%;
  margin: -140px 0 7px -26px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 41%;
}

a {
  color: var(--color-light);
  text-decoration: none;
  font-family: var(--font-main);
  padding: 20px;
  background: var(--color-dark);
  border: solid 2px var(--color-light);
  box-sizing: border-box;
  margin-right: 10px;
  text-align: center;
  transition: flex-grow 0.3s, color 0.3s, background 0.3s;
}

a:hover {
  flex-grow: 1;
  color: var(--color-dark);
  background: var(--color-light);
}