* {
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  --font-main: 'Press Start 2P', cursive;
  --font-second: 'VT323', monospace;
  --color-main: #fff;
  --color-second: #000;
  --color-light: #fcd976;
  --color-dark: #171426;
}

@media screen and (min-width: 1535px) {
  body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: var(--color-dark);
    height: 850px;
    overflow: hidden;
    position: relative;
  }
  
  header h1 {
    font-family: var(--font-main);
    font-size: 80px;
    color: var(--color-light);
  }
  
  header h1 img {
    width: 37%;
    margin: 0 0 15px 7px;
  }
  
  header h2,
  header p {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 41%;
  }
  
  header,
  main {
    position: absolute;
  }

  header {
    bottom: 160px;
  }

  main {
    width: 100%;
  }

  a {
    color: var(--color-light);
    text-decoration: none;
    font-family: var(--font-second);
    padding: 20px;
    background: var(--color-dark);
    border: solid 2px var(--color-light);
    box-sizing: border-box;
    margin-right: 10px;
    text-align: center;
    transition: flex-grow 0.3s, color 0.3s, background 0.3s;
    cursor: pointer;
    font-size: 30px;
  }
  
  a:hover {
    flex-grow: 1;
    color: var(--color-dark);
    background: var(--color-light);
  }
  
  div {
    background: var(--color-dark);
    border: solid 2px var(--color-light);
    color: var(--color-light);
    padding: 40px;
    width: 60%;
    margin: auto;
  }
  
  .saves,
  .settings,
  .game-screen {
    display: none;
  }
  
  .open {
    display: block;
    position: absolute;
    margin: auto;
    top: -740;
    right: 140;
    max-height: 400px;
    overflow: scroll;
  }
  
  .open::-webkit-scrollbar {
    background-color: var(--color-dark);
    height: 0;
    border-left: solid 2px var(--color-light);
  }

  .open::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
  }

  h2 {
    font-family: var(--font-main);
    margin: 0 0 30px;
  }
  
  hr {
    background: var(--color-light);
    border: solid 1px var(--color-light);
    margin: 0 0 20px;
  }
  
  .top-menu {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    font-family: var(--font-main);
    padding: 0;
  }

  .top-menu span {
    font-size: 30px;
    text-transform: uppercase;
  }

  .items-menu {
    width: 80%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 0 20px;
  }
  
  .items-menu:last-child {
    margin: 0;
  }
  
  .items-menu span {
    font-family: var(--font-second);
    text-transform: uppercase;
    font-size: 40px;
  }
  
  .items-menu a {
    margin: 0 200px 0 0;
  }

  .settings a:hover {
    flex-grow: initial;
  }

  input:range {
    color: var(--color-light);
  }

  .lauding {
    width: 10%;
    position: absolute;
    left: 45%;
    top: 50%;
    animation-name: lauding-circle;
  }

  .game-screen .game-camera {
    width: 100%;
  }

  .game-screen {
    width: 100%;
    position: relative;
  }

  .launched-game {
    display: block;
    width: 100%;
    height: 100%;
  }

  .launched-body {
    padding: 0;
  }

  .launched-menu {
    display: none;
  }

  .range-bar {
    color: var(--color-light);
    border: 5px var(--color-light) solid;
    padding: 20px;
    appearance: none;
  }
}

@media screen and (max-width: 1535px) {
  body {
    background: var(--color-dark);
    color: var(--color-light);
  }

  header {
    margin-top: 30%;
  }

  header h1 {
    font-family: var(--font-main);
    font-size: 60px;
    margin: 0 0 30px;
    color: var(--color-light);
    text-align: center;
  }
  
  header h1 img {
    width: 15%;
    margin: -140px 0 7px -26px;
  }

  h2 {
    font-family: var(--font-second);
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px;
  }

  p {
    font-family: var(--font-second);
    text-align: center;
    font-size: 30px;
  }

  nav,
  .saves,
  .settings,
  .game-screen {
    display: none;
  }
}