body {
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

a {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  padding: 10px;
  background: #fff;
  border: solid 2px #000;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
  transition: box-shadow, flex-grow 0.2s;
}

a:hover {
  box-shadow: 0 10px #000;
  flex-grow: 1;
}